/* body * {
    border: 2px solid green;
    margin: 5px;
} */

body {
    background-color: #fff;
}

.secao-biblioteca {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;

    padding: 80px;
    background-color: rgb(246, 246, 246);
}

.secao-biblioteca .imagem {
    width: 100%;
    max-width: 400px;
}

.secao-biblioteca .imagem img {
    width: 100%;
}

.secao-biblioteca .textos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    min-width: 300px;
}

.secao-biblioteca .textos h1 {
    font: 700 50px/50px 'Discord';
    color: #23272A;
}

.secao-biblioteca .textos p {
    font: 400 16px/24px 'Discord';
    color: #2b2f31;
}


.secao-biblioteca .textos a {
    display: flex;
    gap: 10px;

    font: 600 16px/24px 'Discord';
    text-decoration: none;
    color: #2b2f31;
}

.secao-biblioteca img {
    width: 450px;
    border-radius: 10px;
}

.secao-biblioteca .textos .arrow {
    width: 18px;
}









a {
    text-decoration: none;
    color: inherit;
}


.secao-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 170px;

    padding: 20px 70px 70px 70px;
    background-color: #5865f2;
    color: #fff;

    overflow-x: hidden;
}


.secao-inicio header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;
    width: 100%;
}

.secao-inicio header .logo {
    width: 120px;
}

.secao-inicio header nav {
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.secao-inicio header nav a {
    font: 600 16px 'Discord';
}

.secao-inicio header button {
    background-color: #fff;
    color: #000;
    border: none;
    font: 700 14px 'Discord';
    padding: 10px 14px;
    border-radius: 100px;
}

.secao-inicio main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    max-width: 1200px;
    width: 100%;
}

.secao-inicio main .textos {
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 550px;
}

.secao-inicio main .textos h1 {
    font: 800 50px/50px 'Discord';
    text-transform: uppercase;
}

.secao-inicio main .textos p {
    font: 400 16px/22px 'Discord';
}

.secao-inicio main .capa {
    width: 600px;

    position: relative;
    left: 50px;
    bottom: 40px;
}

.secao-inicio .botoes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    max-width: 1200px;
    width: 100%;

    position: relative;
    bottom: 80px;
}

.secao-inicio .botoes a {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #fff;
    color: #000;

    width: calc(33% - 20px);
    height: 100px;
    padding: 0px 20px;

    border-radius: 12px;
    box-shadow: 5px 5px 0 1px #57F287;
}

.secao-inicio .botoes a span {
    font: 800 18px 'Discord';
    text-transform: uppercase;
    text-align: center;
}




@media (max-width: 1440px) {
    .secao-inicio main .capa {
        width: 500px;
        left: 10px;
        bottom: 50px;
    }
}


@media (max-width: 1024px) {

    .secao-inicio {
        padding: 20px 45px;
        gap: 100px;
    }

    .secao-inicio header nav,
    .secao-inicio header button,
    .secao-inicio .capa {
        display: none;
    }

    .secao-inicio main .textos {
        width: unset;
    }

    .secao-inicio .botoes {
        bottom: 50px;
    }

    .secao-inicio .botoes a {
        width: calc(50% - 10px);
    }
    
    .secao-inicio .botoes a span {
        font: 800 14px 'Discord';
    }

}




@media (max-width: 768px) {

    .secao-inicio {
        gap: 60px;
    }

    .secao-inicio .botoes {
        bottom: 25px;
    }

    .secao-inicio main .textos h1 {
        font: 800 36px/36px 'Discord';
    }





     .secao-biblioteca {
        flex-direction: column-reverse;
        align-items: start;
        padding: 35px;
     }

     .secao-biblioteca .textos {
        max-width: 550px;
        width: unset;
        min-width: unset;
     }

     .secao-biblioteca .textos h1 {
        font: 700 34px/34px 'Discord';
     }

     .secao-biblioteca .textos h1 br {
        display: none;
     }

     .secao-biblioteca .imagem {
        max-width: unset;
     }


    
    /* 
        Código CSS que vai ser executado quando a tela for MENOR ou IGUAL a 1300px 
    */

}